*{
    margin: 0;
    padding: 0;
    border: border-box;
}

.debug header{
    background-color: #7adfec;
    height: 300px;
    padding-top: 10px

}

.flex-container{
    max-width: 1079px;
    margin: auto;
}


.header_top{

    display: flex;
    justify-content: space-between;
    background-color: orange;
    height: 30px;
    width: 600px;
    margin: auto;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.header-bottom{
    height: 270px;
    background-color: blue;
    margin-top: 10px;
}

.flex_cover{
    display: flex;
    background-color: red;
    height: 200px;
    width: 200px;
    margin: auto;
}

li{
    display: inline;
    text-decoration: none;
}

.cover{
    background-color: blue;
    margin: 30px;
}


.sec1{
    background-color: pink;
    height: 200px;
    width: 40%;
}
