*{
    margin: 0;
    padding: 0;
    border: border-box;
}

.debug header{
    background-color: #7adfec;
    height: 150px;
    padding-top: 50px;
}

.flex-container{
    max-width: 1079px;
    margin: auto;
}


.header_top{

    display: flex;
    justify-content: space-between;
    background-color: orange;
    height: 30px;
    width: 600px;
    margin: auto;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
li{
    display: inline;
    text-decoration: none;
}

.cover{
    background-color: blue;
    margin: 30px;
}


.sec1{
    background-color: pink;
    height: 200px;
    width: 40%;
}
